#!/bin/bash

dir=$(dirname "$0")

cd "$dir/../../../../../../.."

direnv allow . && eval "$(direnv export bash)"

TS_NODE_FILES=true "node_modules/.bin/ts-node" -T "src/lambdas/get-slot-availability/run-multi.ts" \
  --cohort_external_id={{ cohort_external_id }} \
  --check_dow={{ check_dow }} \
  --check_time='{{ check_time }}' \
  --sendToSeated \
  --no-test_mode \
  >> "src/lambdas/get-slot-availability/{{ check_time_no_colon }}-{{ cohort_external_id }}.log"
